<div class="user-page">
  <div class="page">
    <h1>Users</h1>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th colspan="2">name</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let user of users">
          <td class="id">{{user?.id}}</td>
          <td>{{user?.first_name}} {{user?.last_name}}</td>
          <td class="actions">
            <a (click)="edit(user)">Edit</a>
            <a (click)="delete(user)">Remove</a>
          </td>
        </tr>



      </tbody>
    </table>
  </div>

</div>
